.u-section-1 .u-sheet-1 {
  min-height: 416px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 65px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Courier New", monospace;
  width: 689px;
  margin: 29px auto 0;
}

.u-section-1 .u-form-1 {
  height: 77px;
  width: 334px;
  margin: 29px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#478ac9, #f9e79b);
}

.u-section-1 .u-icon-2 {
  width: 24px;
  height: 24px;
  margin: -77px 364px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.625rem;
  margin: -20px 26px 60px 776px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: "Almendra Display";
  }

  .u-section-1 .u-icon-2 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 602px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-2 {
    margin-right: 230px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 173px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 2px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 207px;
}